.restoran-about-block{
    width: 652px;
    height: 249px;
    margin-top: 32px;
    margin-left: 56px;
    margin-bottom: 48px;
  }
  .restoran-about-block-link{
    margin: 0;
    height: 26px;
    font-family: var(--font-Hind);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7B7B7B;
  }
  .restoran-about-block-link-food{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 0%;
    text-decoration-thickness: 0%;
  }
  .restoran-about-block-title{
    margin-top: 32px;
    height: 48px;
    font-weight: 700;
    font-size: 35.16px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .restoran-about-block-description{
    margin-top: 16px;
    height: 29px;
    font-family: var(--font-Hind);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
  }
  .restoran-about-block-review{
    display: flex;
    height: 26px;
    font-family: var(--font-Hind);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color:#596F72;
    margin-top: 16px;
  }
  .restoran-about-block-review-text{
    padding-top: 7px;
    margin: 0;
  }
  .star{
    width: 22px;
    height: 22px;
    padding-top: 3px;
    padding-left: 2px;
  }
  .restoran-about-block-category-container{
    display: flex;
    gap: 8px;
    height: 32px;
    margin-top: 24px;
    margin-left: 3px;
  }
  .restoran-about-block-btn-category{
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Добавляем указатель мыши в виде руки для кликабельности */
    text-align: center; /* Выравнивание текста по горизонтали */
    width: 110px;
    height: 32px;
    border-radius: 4px;
    font-family: var(--font-Hind);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0;
    background-color: #E9E9E9;
    color: #636363;
    margin: 0;
  }
  .restoran-about-block-btn-category-food{
    padding: 0 8px;
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Добавляем указатель мыши в виде руки для кликабельности */
    text-align: center; /* Выравнивание текста по горизонтали */
    height: 32px;
    border-radius: 4px;
    gap: 10px;
    font-family: Hind;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    background-color: #E9E9E9;
    color: #636363;
    margin: 0;
  }