.line-on-order2{
    width: 200%;
}
.order-form-group-1{
    width: 80%;
}
.order-form-group-2{
    width: 20%;
}
.order-form-row-2{
    margin-top: 0;
    margin-bottom: 32px;
}
.order-form-buttons{
    display: flex;
    gap: 16px;
}
.btn-white{
    background-color: white;
    color: #202020;

}
.payment-select {
    background-color: white;
    cursor: pointer;
  }
  
  @media (max-width: 880px) {
    .order-form-group-1 {
      width: 100%;
  }
  .order-form-group-2 {
    width: 100%;
}
.order-next-btn {
  height: auto;
}
  }