.restoran-section{
    background-color: #F9F9F9;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 20px;
}
.restoran-section-title{
    margin-left: 57px;
    height: 38px;
    font-weight: 700;
    font-size: 28.13px;
    line-height: 38px;
    letter-spacing: -0.01em;
}
.restoran-section-container{
    margin-top: 24px;
    margin-left: 56px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

@media (max-width: 952px) {
    .restoran-section{
        text-align: center;
    }
    .restoran-section-title {
        margin-left: 0;
    }
    .restoran-section-container {
        margin-left: 0;
        justify-content: center;
        text-align: left;
    }
}