html{
  /*
    --black-dark: #272727;
    background-color: var(--black-dark);
   */
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Hind: "Hind", sans-serif;
  font-family: var(--font-Montserrat);

}
.container {
  padding: 0 56px;
}
header {
  display: flex;
  align-items: center;
  color: #202020;
  border: 1px;
  border-color: #E9E9E9;
  height: 72px;
}
.logo{
  width: 134.26336669921875px;
  height: 19.935205459594727px;
  margin: 11.39px 9.82px;
}
.header-a{
  display: inline-block; /* Устанавливаем элемент как блочный */
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Сохраняем цвет текста родительского элемента */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Добавляем указатель мыши в виде руки для кликабельности */
  text-align: center; /* Выравнивание текста по горизонтали */
  border-radius: 4px;
  background-color: #ffffff;
  font-family: var(--font-Hind);
  line-height: 55px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
}
.btn-home{
  width: 94px;
  height: 55px;
  margin-left: auto;
  margin-right: 8px;
}
.btn-all-restaurants{
  width: 159px;
  height: 55px;
  margin-right: 24px;
}
.btn-shop{
  width: 56px;
  height: 56px;
  background-color: #202020;
}
.shop{
  margin: 16px;
  width: 24px;
  height: 24px;
}
.top-banner{
  display: flex;
  justify-items: center;
  align-items: center;
  height: 242px;
  background-color: #E5F8BC;
}
.top-banner-title{
  width: 229px;
  height: 64px;
  font-weight: 700;
  font-size: 43.95px;
  line-height: 64px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #2C2C2C;
  margin-left: auto;
  margin-right: auto;
}
.main-title{
  width: 386px;
  height: 43px;
  font-weight: 700;
  font-size: 35.16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-top: 72px;
  margin-left: 56px;
  color: #202020;
}
.main-discovery{
  width: 765px;
  height: 60px;
  font-family: var(--font-Hind);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-top: 16px;
  margin-left: 56px;
  color: #2C2C2C;
}
.categories-section{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 56px;
  gap: 24px;
}
.categories-section-card{
  width: 427px;
  height: 309px;
}
.categories-section-card-img{
  width: 427px;
  height: 309px;
  border-radius: 8px;
  margin: 0;
}
.categories-section-card-link{
  display: inline-block; /* Устанавливаем элемент как блочный */
  text-decoration: none; /* Убираем подчеркивание */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Добавляем указатель мыши в виде руки для кликабельности */
  text-align: center; /* Выравнивание текста по горизонтали */
  width: 72px;
  height: 45px;
  border-radius: 8px;
  background-color: #202020;
  color: #FFFFFF;
  font-family: var(--font-Hind);
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
  letter-spacing: 0;
  position: absolute;
  margin-top: 16px;
  margin-left: -411px;
}


.footer{
  display: flex;
  justify-items: center;
  height: 451px;
  background-color: #2C2C2C;
  margin-top: 72px;
}
.logo-in-footer{
  margin: 91px 0 0 209px;
  width: 120px;
  height: 105px;
}
.footer-block{
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-left: auto;
}
.discover-us{
  width: 136px;
  height: 146px;
}
.footer-title{
  font-weight: 700;
  font-size: 22.5px;
  line-height: 100%;
  letter-spacing: 0;
  color: #FFFFFF;
  background-color: #2C2C2C;
  margin: 0;
  margin-bottom: 8px;
}
.footer-link{
  display: inline-block; /* Устанавливаем элемент как блочный */
  text-decoration: none; /* Убираем подчеркивание */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Добавляем указатель мыши в виде руки для кликабельности */
  height: 29px;
  font-family: var(--font-Hind);
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0;
  margin-top: 8px;
  background-color: #2C2C2C;
  color: #FFFFFF;
}
.social-media{
  width: 199px;
  height: 146px;
}
.our-apps{
  width: 184px;
  height: 109px;
  margin-right: 71px;
}