<div class="AwardWinningBanner">
    <div class="banner-info">
        <h2 class="banner-title">Award winning</h2>
        <h3 class="banner-text">The best restaurants near you!</h3>
        <a href="index.html" class="btn-banner">Explore the best restaurants</a>
    </div>
    <div class="banner-mini-cards">
        <div class="banner-column-1">
            {{> banner-card img = "img/banner-img-1.png" title="Lukewarm Late" }}
            {{> banner-card img = "img/banner-img-1.png" title="The Smoking Veg" }}
            {{> banner-card img = "img/banner-img-2.png" title="The Artissan" }}
        </div>
        <div class="banner-column-2">
            {{> banner-card img = "img/banner-img-2.png" title="O’Neill’s" }}
            {{> banner-card img = "img/banner-img-3.png" title="Shining Artichoke" }}
        </div>
        <div class="banner-column-1">
            {{> banner-card img = "img/banner-img-5.png" title="The Smoking VegThe Woodland" }}
            {{> banner-card img = "img/banner-img-2.png" title="La Poma" }}
            {{> banner-card img = "img/banner-img-5.png" title="The Smoking Veg" }}

        </div>
    </div>
</div>