<div class="categories">
    <h2 class="categories-title">Categories</h2>
    <div class="categories-container">
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
        {{> categories-card img = "img/categories-img-1.png" title="Pizza" }}
    </div>
    <button class="btn-right btn-cat"><img class="arrow-right" src="img/arrow-right.svg" alt=""></button>
    <button class="btn-left btn-cat"><img class="arrow-left" src="img/arrow-left.svg" alt=""></button>
</div>