<div class="favourite-picks">
    <h2 class="favourite-picks__title">Our favourite picks</h2>
    <div class="favourite-picks-container">
        {{> pick-card img = "img/pick_img.png" title="Mira" review_text="4.2  Very Good" }}
        {{> pick-card img = "img/pick_img.png" title="Kara Fin" review_text="4.2  Very Good" }}
        {{> pick-card img = "img/pick_img.png" title="‘T Kuyltje" review_text="4.2  Very Good" }}
        {{> pick-card img = "img/pick_img.png" title="Пупупу" review_text="4.2  Very Good" }}
        {{> pick-card img = "img/pick_img.png" title="Лалала" review_text="4.9  Very Good" }}
        {{> pick-card img = "img/pick_img.png" title="Я ем людей" review_text="5.0  Very Good" }}
    </div>
    <button class="btn-right"><img class="arrow-right" src="img/arrow-right.svg" alt=""></button>
    <button class="btn-left"><img class="arrow-left" src="img/arrow-left.svg" alt=""></button>
</div>