<div class="footer">
    <img class="logo-in-footer" src="img/logo-in-footer.svg" alt="">
    {{> footer-block footer-title="discover-us" title="Discover us" link1 = "index.html" link-title1="Home" link2 = "categories.html" link-title2="Categories" link3 = "index.html" link-title3="About"}}
    {{> footer-block footer-title="social-media" title="Our social media" link1 = "https://www.facebook.com" link-title1="Facebook" link2 = "https://www.instagram.com" link-title2="Instagram" link3 = "https://www.twitter.com" link-title3="Twitter"}}
    {{> footer-block footer-title="our-apps" title="Check our apps" link1 = "index.html" link-title1="Link" link2 = "index.html" link-title2="Link" link3 = "index.html" link-title3="Link"}}
</div>