<header class="header container">
  <a href="index.html"><img class="logo" src="img/logo.svg" alt=""></a>
  <button class = "btn-home">Home</button>
  <button class = "btn-all-restaurants">All restaurants</button>
  <button class = "btn-shop"><img class="chop" src="img/shop.svg" alt=""></button>
</header>