<div class="pick-card">
    <div><img class="pick_img" src={{img}} alt=""></div>
    <div class="pick-card-content">
        <a href="index.html" class="pick-card-title">{{title}}</a>
        <div class="pick-card-review"><img class="star" src="img/star.svg" alt=""> <h4 class="review-text">{{review_text}}</h4></div>
        <h6 class="pick-card-description">Nicest place for burgers</h6>
        <div class="pick-card-category"><a href="index.html" class="btn-category">Comfort food</a></div>
    </div>
</div>