<div class="pick-card">
    <div><img class="pick_img" src={{img}} alt=""></div>
        <div class="pick-card-content">
          <h3 class="pick-card-title">{{title}}</h3>
          <div class="pick-card-review"><img class="star" src="img/star.svg" alt=""> <h4 class="review-text">{{review_text}}</h4></div>
          <h6 class="pick-card-description">Nicest place for burgers</h6>
          <div class="pick-card-category"><button class="btn-category">Comfort food</button></div>
    </div>
</div>