<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="style-categories.css">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {{> views/header }}
<main>
    <div class="top-banner">
        <h2 class="top-banner-title">Categories</h2>
    </div>
    <div class="main-title">What’s on the menu?</div>
    <div class="main-discovery">Whatever you’re craving - we’ll deliver it to your door. Feel like having pizza, sushi or your favourite dish from Tatooine? Explore your possibilities below. </div>
    <div class="categories-section">
        <div class="categories-section-card">
            <img class="categories-section-card-img" src="img/categories-section-card-pizz.png" alt="">
            <a href="categories.html" class="categories-section-card-link">Pizza</a>
        </div>
        <div class="categories-section-card">
                <img class="categories-section-card-img" src="img/categories-section-card-pizz.png" alt="">
                <a href="categories.html" class="categories-section-card-link">Pizza</a>
        </div>
        <div class="categories-section-card">
                <img class="categories-section-card-img" src="img/categories-section-card-pizz.png" alt="">
                <a href="categories.html" class="categories-section-card-link">Pizza</a>
        </div>
        <div class="categories-section-card">
                <img class="categories-section-card-img" src="img/categories-section-card-pizz.png" alt="">
                <a href="categories.html" class="categories-section-card-link">Pizza</a>
        </div>
        <div class="categories-section-card">
                <img class="categories-section-card-img" src="img/categories-section-card-pizz.png" alt="">
                <a href="categories.html" class="categories-section-card-link">Pizza</a>
        </div>
        <div class="categories-section-card">
                <img class="categories-section-card-img" src="img/categories-section-card-pizz.png" alt="">
                <a href="categories.html" class="categories-section-card-link">Pizza</a>
        </div>
    </div>
    {{> views/footer }}
</main>
</body>
</html>