<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="style.css">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {{> views/header }}
<main>
    <div class="hungry">
        <h2 class = "hungry-title"> <b>Hungry?</b> Find your next meal</h2>
        <a href="index.html"></a>
        <img class="Ladies" src="img/Ladies.svg" alt="">
    </div>
    {{> views/carusel }}
    <div class="AwardWinningBanner">
        <div class="banner-info">
            <h2 class="banner-title">Award winning</h2>
            <h3 class="banner-text">The best restaurants near you!</h3>
            <a href="index.html" class="btn-banner">Explore the best restaurants</a>
        </div>
        <div class="banner-mini-cards">
            <div class="banner-column-1">
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
            </div>
            <div class="banner-column-2">
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
            </div>
            <div class="banner-column-1">
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
                <div class="banner-card">
                    <div><img class="banner-card-img" src="img/banner-img-1.png" alt=""></div>
                    <div class="banner-card-title">The Smoking Veg</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>