html{
  /*
    --black-dark: #272727;
    background-color: var(--black-dark);
   */
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Hind: "Hind", sans-serif;
  font: var(--font-Montserrat);

}
.container {
  padding: 0 56px;
}
header {
  display: flex;
  align-items: center;
  color: #202020;
  border: 1px;
  border-color: #E9E9E9;
  height: 72px;
}
.logo{
  width: 134.26336669921875px;
  height: 19.935205459594727px;
  margin: 11.39px 9.82px;
}
.header-a{
  display: inline-block; /* Устанавливаем элемент как блочный */
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Сохраняем цвет текста родительского элемента */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Добавляем указатель мыши в виде руки для кликабельности */
  /* Выравнивание текста по вертикали */
  text-align: center; /* Выравнивание текста по горизонтали */
  border-radius: 4px;
  background-color: #ffffff;
  font: var(--font-Hind);
  line-height: 55px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
}
.btn-home{
  width: 94px;
  height: 55px;
  margin-left: auto;
  margin-right: 8px;
}
.btn-all-restaurants{
  width: 159px;
  height: 55px;
  margin-right: 24px;
}
.btn-shop{
  width: 56px;
  height: 56px;
  background-color: #202020;
}
.shop{
  margin: 16px;
  width: 24px;
  height: 24px;
}
.hungry{
  background-color: #B1DDE4;
  padding-top: 131px;
}
.hungry-title{
  font-weight: 600;
  font-size: 43.95px;
  line-height: 56px;
  text-align: center;
  color: #2C2C2C;
  margin: 0px;
}
.main-title b{
  font-weight: 700;
}
.hungry button{
  position: relative;
  background-color: #202020;
  width: 189px;
  height: 56px;
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 43.9%;
}
.Ladies{
  margin-top: -29px;
  width: 100%;
}
.favourite-picks{
  margin-right: 25px;
  padding: 72px 0 0 72px;
  overflow: hidden;
}
.favourite-picks__title{
  width: 338px;
  height: 48px;
  font-weight: 700;
  font-size: 35.16px;
  line-height: 48px;
  margin: 0;
}
.favourite-picks-container{
  display: flex;
  gap: 23px;
  transition: transform 0.3s linear;
}
.pick-card{
  width: 427px;
  height: 447px;
  margin-top: 32px;
  border-radius: 8px;
  gap: 16px;
  background-color: #F9F9F9;
}
.pick_img{
  width: 356px;
  height: 240px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.pick-card-content{
  width: 356px;
  height: 175px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  gap: 8px;
  margin-top: 16px;
}
.pick-card-title{
  height: 32px;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 32px;
  letter-spacing: 0;
  margin-bottom: 8px;
  margin-top: 0;
  display: flex;
  align-items: center;
}
.pick-card-review{
  display: flex;
  height: 26px;
  font: var(--font-Hind);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color:#596F72;
  margin-bottom: 8px;
  margin-top: 0;
}
.review-text{
  padding-top: 7px;
  margin: 0;
}
.star{
  width: 22px;
  height: 22px;
  padding-top: 3px;
  padding-left: 2px;
}
.pick-card-description{
  height: 29px;
  font: var(--font-Hind);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #4D4D4D;
  margin: 0;
  display: flex;
  align-items: center;
}
.pick-card-category{
  height: 48px;
  padding-top: 16px;
  gap: 10px;
  margin: 0;
  display: flex;
  align-items: center;
}
.btn-category{
  width: 110px;
  height: 32px;
  font: var(--font-Hind);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  background-color: #E9E9E9;
  color: #636363;
  margin: 0;
  border:none;
}
.btn-right{
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 32px;
  margin-top: -228px;
  right:33px;
}
.btn-left{
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 32px;
  margin-top: -228px;
}
.AwardWinningBanner{
  display: flex;
  justify-items: center;
  background-color: #E5F8BC;
  padding-left: 56px;
  padding-right: 57px;
  margin-top: 63px;
  overflow: hidden;
}
.banner-info{
  font-weight: 900;
  font-size: 43.95px;
  line-height: 56px;
  width: 539px;
  height: 168px;
  margin-top: 112px;
}
.banner-title{
  margin: 0;
}
.banner-text{
  font-weight: 700;
  margin: 0;
}
.btn-banner{
  background-color: #202020;
  color: #FFFFFF;
  width: 265px;
  height: 56px;
  margin-top: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  gap: 10px;
  font: var(--font-Hind);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}
.banner-mini-cards{
  display: flex;
  justify-items: center;
  align-items: center;
  width: 654px;
  height: 964px;
  margin-top: -239px;
  margin-bottom: -238px;
  margin-left: auto;
  border-radius: 8px;
}
.banner-column-1{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 202px;
  height: 964px;
}
.banner-column-2{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 202px;
  height: 634px;
  margin: 165px 24px;
}
.banner-card{
  width: 202px;
  height: 305px;
  border-radius: 8px;
  background-color: #F9F9F9;
  margin: auto;
}
.banner-card-img{
  margin: 8px;
  width: 186px;
  height: 220px;
  border-radius: 8px;
}
.banner-card-title{
  width: 135px;
  height: 29px;
  margin: 16px 34px;
  font: var(--font-Hind);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #2C2C2C;
}



