.order3-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-main{
    margin-top: 40px;
    justify-items: center;
}
.order-main-title{
    min-width: 280px;
    max-width: 340px;
    margin-bottom: 24px;
}
.delivery{
    height: 29px;
    font-family: var(--font-Hind);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0;
}
.delivery-time{
    height: 48px;
    font-weight: 700;
    font-size: 35.16px;
    line-height: 48px;
    letter-spacing: -0.02em;
}
.OrderLedies{
    margin-top: 36px;
    width: 100%;
}